{
	"x-generator": "NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))",
	"openapi": "3.0.0",
	"info": {
	  "title": "Elite API",
	  "description": "A backend API for https://elitebot.dev/ that provides Hypixel Skyblock data.\n<br>\nUse of this API requires following the [Elite API TOS](https://elitebot.dev/apiterms). This API is not affiliated with Hypixel or Mojang.",
	  "termsOfService": "https://elitebot.dev/apiterms",
	  "contact": {
		"name": "- GitHub",
		"url": "https://github.com/EliteFarmers/API"
	  },
	  "license": {
		"name": "GPL-3.0",
		"url": "https://github.com/EliteFarmers/API/blob/master/LICENSE.txt"
	  },
	  "version": "v1"
	},
	"servers": [
	  {
		"url": "https://api.elitebot.dev"
	  }
	],
	"paths": {
	  "/account/{player}": {
		"get": {
		  "tags": [
			"Account"
		  ],
		  "summary": "Get Minecraft Account",
		  "operationId": "EliteAPIFeaturesAccountGetAccountGetAccountEndpoint",
		  "parameters": [
			{
			  "name": "player",
			  "in": "path",
			  "required": true,
			  "description": "Player uuid or ign",
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/MinecraftAccountDto"
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		},
		"post": {
		  "tags": [
			"Account"
		  ],
		  "summary": "Link Account",
		  "operationId": "EliteAPIFeaturesAccountLinkAccountLinkAccountEndpoint",
		  "parameters": [
			{
			  "name": "player",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		},
		"delete": {
		  "tags": [
			"Account"
		  ],
		  "summary": "Unlink Account",
		  "operationId": "EliteAPIFeaturesAccountUnlinkAccountUnlinkAccountEndpoint",
		  "parameters": [
			{
			  "name": "player",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/account/{discordId}": {
		"get": {
		  "tags": [
			"Account"
		  ],
		  "summary": "Get Minecraft Account from Discord Id",
		  "operationId": "EliteAPIFeaturesAccountGetAccountFromDiscordGetAccountFromDiscordEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/MinecraftAccountDto"
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/account/{discordId}/settings": {
		"get": {
		  "tags": [
			"Account"
		  ],
		  "summary": "Get Account Settings",
		  "operationId": "EliteAPIFeaturesAccountGetAccountSettingsGetAccountSettingsEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/UserSettingsDto"
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/account": {
		"get": {
		  "tags": [
			"Account"
		  ],
		  "summary": "Get Logged-In Account",
		  "operationId": "EliteAPIFeaturesAccountGetAuthAccountGetAuthAccountEndpoint",
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/AuthorizedAccountDto"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/account/purchases": {
		"post": {
		  "tags": [
			"Account"
		  ],
		  "summary": "Refresh Purchases",
		  "operationId": "EliteAPIFeaturesAccountRefreshPurchasesRefreshPurchasesEndpoint",
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/account/search": {
		"get": {
		  "tags": [
			"Account"
		  ],
		  "summary": "Search for Minecraft Account",
		  "operationId": "EliteAPIFeaturesAccountSearchAccountsSearchAccountsEndpoint",
		  "parameters": [
			{
			  "name": "q",
			  "in": "query",
			  "required": true,
			  "description": "Search query string",
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "start",
			  "in": "query",
			  "description": "Start of results for pagination",
			  "schema": {
				"type": "string",
				"nullable": true
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "type": "string"
					}
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/account/primary/{player}": {
		"post": {
		  "tags": [
			"Account"
		  ],
		  "summary": "Set Primary Account",
		  "operationId": "EliteAPIFeaturesAccountSetPrimaryAccountSetPrimaryAccountEndpoint",
		  "parameters": [
			{
			  "name": "player",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/account/{playerUuid}/badges": {
		"post": {
		  "tags": [
			"Account"
		  ],
		  "summary": "Update Account Settings",
		  "operationId": "EliteAPIFeaturesAccountUpdateBadgesUpdateBadgesEndpoint",
		  "parameters": [
			{
			  "name": "playerUuid",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "badges",
			"content": {
			  "application/json": {
				"schema": {
				  "type": "array",
				  "items": {
					"$ref": "#/components/schemas/EditUserBadgeDto"
				  }
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/account/settings": {
		"patch": {
		  "tags": [
			"Account"
		  ],
		  "summary": "Update Account Settings",
		  "operationId": "EliteAPIFeaturesAccountUpdateSettingsUpdateAccountEndpoint",
		  "requestBody": {
			"x-name": "UpdateUserSettingsDto",
			"description": "",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/UpdateUserSettingsDto"
				}
			  }
			},
			"required": true,
			"x-position": 1
		  },
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/admin/user/{discordId}/roles/{role}": {
		"post": {
		  "tags": [
			"Admin"
		  ],
		  "summary": "Add a role to a user",
		  "operationId": "EliteAPIFeaturesAdminAdminsAddRoleToUserAddRoleToUserEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "role",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		},
		"delete": {
		  "tags": [
			"Admin"
		  ],
		  "summary": "Remove a role from a user",
		  "operationId": "EliteAPIFeaturesAdminAdminsRemoveRoleFromUserRemoveRoleFromUserEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "role",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/admin/cooldowns/player/{player}": {
		"post": {
		  "tags": [
			"Admin"
		  ],
		  "summary": "Reset a player's cooldowns",
		  "description": "This enables a player's data from Hypixel to be refreshed on the next request.",
		  "operationId": "EliteAPIFeaturesAdminClearPlayerCooldownsClearPlayerCooldownsEndpoint",
		  "parameters": [
			{
			  "name": "player",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/admin/upcomingcontests": {
		"delete": {
		  "tags": [
			"Admin"
		  ],
		  "summary": "Delete all upcoming contests",
		  "description": "Delete all upcoming contests in case of wrong data",
		  "operationId": "EliteAPIFeaturesAdminDeleteUpcomingContestsDeleteUpcomingContestsEndpoint",
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/admin/events/{eventId}": {
		"delete": {
		  "tags": [
			"Admin"
		  ],
		  "summary": "Delete Event",
		  "operationId": "EliteAPIFeaturesAdminEventsDeleteEventDeleteEventApprovalEndpoint",
		  "parameters": [
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/admin/events/pending": {
		"get": {
		  "tags": [
			"Admin"
		  ],
		  "summary": "Get events pending approval",
		  "operationId": "EliteAPIFeaturesAdminEventsGetPendingEventsGetPendingEventsEndpoint",
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "$ref": "#/components/schemas/EventDetailsDto"
					}
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/admin/events/{eventId}/approve": {
		"post": {
		  "tags": [
			"Admin"
		  ],
		  "summary": "Set event approval",
		  "operationId": "EliteAPIFeaturesAdminEventsSetEventApprovalSetEventApprovalEndpoint",
		  "parameters": [
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "approve",
			  "in": "query",
			  "schema": {
				"type": "boolean",
				"default": false,
				"nullable": true
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/admins": {
		"get": {
		  "tags": [
			"Admin"
		  ],
		  "summary": "Get list of admins",
		  "operationId": "EliteAPIFeaturesAdminGetAdminsGetAdminsEndpoint",
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "$ref": "#/components/schemas/AccountWithPermsDto"
					}
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/admin/roles": {
		"get": {
		  "tags": [
			"Admin"
		  ],
		  "summary": "Get list of roles",
		  "operationId": "EliteAPIFeaturesAdminGetRolesGetRolesEndpoint",
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "type": "string"
					}
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/admin/link-account": {
		"post": {
		  "tags": [
			"Admin"
		  ],
		  "summary": "Link an Account",
		  "operationId": "EliteAPIFeaturesAdminLinkAccountLinkAccountEndpoint",
		  "requestBody": {
			"x-name": "AdminLinkAccountRequest",
			"description": "",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/AdminLinkAccountRequest"
				}
			  }
			},
			"required": true,
			"x-position": 1
		  },
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/admin/guild/{guildId}/refresh": {
		"post": {
		  "tags": [
			"Admin"
		  ],
		  "summary": "Refresh a guild",
		  "description": "This fetches the latest data from Discord for the specified guild",
		  "operationId": "EliteAPIFeaturesAdminRefreshDiscordGuildRefreshDiscordGuildEndpoint",
		  "parameters": [
			{
			  "name": "guildId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/admin/unlink-account": {
		"post": {
		  "tags": [
			"Admin"
		  ],
		  "summary": "Unlink an Account",
		  "operationId": "EliteAPIFeaturesAdminUnlinkAccountUnlinkAccountEndpoint",
		  "requestBody": {
			"x-name": "AdminUnlinkAccountRequest",
			"description": "",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/AdminUnlinkAccountRequest"
				}
			  }
			},
			"required": true,
			"x-position": 1
		  },
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/auth/me": {
		"get": {
		  "tags": [
			"Auth"
		  ],
		  "summary": "Get logged in account",
		  "description": "Get the account of the currently logged in user",
		  "operationId": "EliteAPIFeaturesAuthGetSelfGetSelfEndpoint",
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/AuthSessionDto"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/auth/login": {
		"post": {
		  "tags": [
			"Auth"
		  ],
		  "summary": "Log in",
		  "description": "Log in with discord credentials",
		  "operationId": "EliteAPIFeaturesAuthLoginLoginEndpoint",
		  "requestBody": {
			"x-name": "DiscordLoginDto",
			"description": "",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/DiscordLoginDto"
				}
			  }
			},
			"required": true,
			"x-position": 1
		  },
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/AuthResponseDto"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/auth/refresh": {
		"post": {
		  "tags": [
			"Auth"
		  ],
		  "summary": "Refresh Auth Token",
		  "description": "Refresh the auth token using the refresh token",
		  "operationId": "EliteAPIFeaturesAuthRefreshRefreshEndpoint",
		  "requestBody": {
			"x-name": "AuthRefreshDto",
			"description": "",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/AuthRefreshDto"
				}
			  }
			},
			"required": true,
			"x-position": 1
		  },
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/AuthResponseDto"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/badge/user/{player}/{badgeId}": {
		"post": {
		  "tags": [
			"Badge"
		  ],
		  "summary": "Add a badge to a user",
		  "operationId": "EliteAPIFeaturesBadgesAddBadgeToUserAddBadgeToUserBadgeEndpoint",
		  "parameters": [
			{
			  "name": "player",
			  "in": "path",
			  "required": true,
			  "description": "Player uuid or ign",
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "badgeId",
			  "in": "path",
			  "required": true,
			  "description": "ID of the badge",
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		},
		"delete": {
		  "tags": [
			"Badge"
		  ],
		  "summary": "Remove a badge from a user",
		  "operationId": "EliteAPIFeaturesBadgesDeleteBadgeFromUserDeleteBadgeFromUserBadgeEndpoint",
		  "parameters": [
			{
			  "name": "player",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "badgeId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/badges": {
		"post": {
		  "tags": [
			"Badge"
		  ],
		  "summary": "Create a badge",
		  "operationId": "EliteAPIFeaturesBadgesCreateBadgeCreateBadgeEndpoint",
		  "requestBody": {
			"x-name": "badge",
			"content": {
			  "multipart/form-data": {
				"schema": {
				  "$ref": "#/components/schemas/CreateBadgeRequest_CreateBadge"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		},
		"get": {
		  "tags": [
			"Badge"
		  ],
		  "summary": "Get all badges",
		  "operationId": "EliteAPIFeaturesBadgesGetBadgesGetBadgesEndpoint",
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "$ref": "#/components/schemas/BadgeDto"
					}
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/badge/{badgeId}": {
		"delete": {
		  "tags": [
			"Badge"
		  ],
		  "summary": "Delete a badge",
		  "operationId": "EliteAPIFeaturesBadgesDeleteBadgeDeleteBadgeEndpoint",
		  "parameters": [
			{
			  "name": "badgeId",
			  "in": "path",
			  "required": true,
			  "description": "ID of the badge",
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		},
		"patch": {
		  "tags": [
			"Badge"
		  ],
		  "summary": "Update a badge",
		  "operationId": "EliteAPIFeaturesBadgesUpdateBadgeUpdateBadgeEndpoint",
		  "parameters": [
			{
			  "name": "badgeId",
			  "in": "path",
			  "required": true,
			  "description": "ID of the badge",
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "badge",
			"content": {
			  "multipart/form-data": {
				"schema": {
				  "$ref": "#/components/schemas/UpdateBadgeRequest_UpdateBadge"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/bot/account/{discordId}/{player}": {
		"post": {
		  "tags": [
			"Bot"
		  ],
		  "summary": "Link Account",
		  "operationId": "EliteAPIFeaturesBotAccountsLinkAccountLinkAccountEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "player",
			  "in": "path",
			  "required": true,
			  "description": "Player uuid or ign",
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		},
		"delete": {
		  "tags": [
			"Bot"
		  ],
		  "summary": "Unlink Account",
		  "operationId": "EliteAPIFeaturesBotAccountsUnlinkAccountUnlinkAccountEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "player",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/bot/account/{discordId}/{player}/primary": {
		"post": {
		  "tags": [
			"Bot"
		  ],
		  "summary": "Make Primary Account",
		  "operationId": "EliteAPIFeaturesBotAccountsMakePrimaryMakePrimaryAccountEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "player",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/bot/account/{discordId}/purchases": {
		"post": {
		  "tags": [
			"Bot"
		  ],
		  "summary": "Refresh User Purchases",
		  "operationId": "EliteAPIFeaturesBotAccountsRefreshPurchasesUnlinkAccountEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/bot/badges/{player}/{badgeId}": {
		"post": {
		  "tags": [
			"Bot"
		  ],
		  "summary": "Grant Badge",
		  "operationId": "EliteAPIFeaturesBotBadgesGrantBadgeGrantBadgeEndpoint",
		  "parameters": [
			{
			  "name": "player",
			  "in": "path",
			  "required": true,
			  "description": "Player uuid or ign",
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "badgeId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		},
		"delete": {
		  "tags": [
			"Bot"
		  ],
		  "summary": "Remove Badge",
		  "operationId": "EliteAPIFeaturesBotBadgesRemoveBadgeRemoveBadgeEndpoint",
		  "parameters": [
			{
			  "name": "player",
			  "in": "path",
			  "required": true,
			  "description": "Player uuid or ign",
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "badgeId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/bot/contestpings/{discordId}": {
		"delete": {
		  "tags": [
			"Bot"
		  ],
		  "summary": "Disable contest pings for a guild",
		  "operationId": "EliteAPIFeaturesBotDisableContestPingsDisableContestPingsPingsEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "reason",
			  "in": "query",
			  "schema": {
				"type": "string",
				"nullable": true
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/bot/contestpings": {
		"get": {
		  "tags": [
			"Bot"
		  ],
		  "summary": "Get list of guilds with contest pings enabled",
		  "operationId": "EliteAPIFeaturesBotGetContestPingsGetContestPingsEndpoint",
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "$ref": "#/components/schemas/ContestPingsFeatureDto"
					}
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/bot/{discordId}": {
		"get": {
		  "tags": [
			"Bot"
		  ],
		  "summary": "Get guild",
		  "operationId": "EliteAPIFeaturesBotGetGuildGetBotGuildEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/PrivateGuildDto"
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/bot/{discordId}/jacob": {
		"get": {
		  "tags": [
			"Bot"
		  ],
		  "summary": "Get guild jacob",
		  "operationId": "EliteAPIFeaturesBotGetJacobFeatureGetJacobFeatureEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/GuildJacobLeaderboardFeature"
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		},
		"put": {
		  "tags": [
			"Bot"
		  ],
		  "summary": "Update guild jacob feature",
		  "operationId": "EliteAPIFeaturesBotUpdateJacobFeatureUpdateJacobFeatureEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "reason",
			  "in": "query",
			  "schema": {
				"type": "string",
				"nullable": true
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "feature",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/UpdateJacobFeatureRequest_UpdateJacobFeature"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/GuildJacobLeaderboardFeature"
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/bot/guild/{discordId}": {
		"post": {
		  "tags": [
			"Bot"
		  ],
		  "summary": "Request Guild Update",
		  "operationId": "EliteAPIFeaturesBotGuildsRefreshGuildRefreshGuildEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		},
		"patch": {
		  "tags": [
			"Bot"
		  ],
		  "summary": "Update Guild",
		  "operationId": "EliteAPIFeaturesBotGuildsUpdateGuildUpdateGuildEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "guild",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/IncomingGuildDto"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/DiscordIdRequest"
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/bot/guild/{discordId}/channels": {
		"post": {
		  "tags": [
			"Bot"
		  ],
		  "summary": "Update Guild Channel",
		  "operationId": "EliteAPIFeaturesBotGuildsUpdateGuildChannelUpdateGuildChannelEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "channel",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/IncomingGuildChannelDto"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/bot/guild/{discordId}/members/{userId}/roles": {
		"post": {
		  "tags": [
			"Bot"
		  ],
		  "summary": "Update Guild Member Roles",
		  "operationId": "EliteAPIFeaturesBotGuildsUpdateGuildMemberRolesUpdateGuildMemberRolesEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "userId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "roles",
			"content": {
			  "application/json": {
				"schema": {
				  "type": "array",
				  "items": {
					"type": "string"
				  }
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/bot/guild/{discordId}/roles": {
		"post": {
		  "tags": [
			"Bot"
		  ],
		  "summary": "Update Guild Role",
		  "operationId": "EliteAPIFeaturesBotGuildsUpdateGuildRoleUpdateGuildRoleEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "role",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/IncomingGuildRoleDto"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/bot/account": {
		"patch": {
		  "tags": [
			"Bot"
		  ],
		  "summary": "Update user Discord account",
		  "operationId": "EliteAPIFeaturesBotUpdateDiscordAccountUpdateDiscordAccountEndpoint",
		  "requestBody": {
			"x-name": "IncomingAccountDto",
			"description": "",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/IncomingAccountDto"
				}
			  }
			},
			"required": true,
			"x-position": 1
		  },
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/AuthorizedAccountDto"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/contest/{contestKey}": {
		"get": {
		  "tags": [
			"Contests"
		  ],
		  "summary": "Get a contest from a contest key",
		  "operationId": "EliteAPIFeaturesContestsGetContestFromKeyGetContestFromKeyEndpoint",
		  "parameters": [
			{
			  "name": "contestKey",
			  "in": "path",
			  "required": true,
			  "description": "A contest key in the format from the Hypixel API",
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/JacobContestWithParticipationsDto"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/contests/{timestamp}": {
		"get": {
		  "tags": [
			"Contests"
		  ],
		  "summary": "Get the three contests that start at a specific timestamp",
		  "operationId": "EliteAPIFeaturesContestsGetContestsAtTimestampGetContestsAtTimestampEndpoint",
		  "parameters": [
			{
			  "name": "timestamp",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "$ref": "#/components/schemas/JacobContestWithParticipationsDto"
					}
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/contests/at/{year}/{month}/{day}": {
		"get": {
		  "tags": [
			"Contests"
		  ],
		  "summary": "Get all contests in a SkyBlock year",
		  "operationId": "EliteAPIFeaturesContestsGetContestsInDayGetContestsInDayEndpoint",
		  "parameters": [
			{
			  "name": "year",
			  "in": "path",
			  "required": true,
			  "description": "SkyBlock year",
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			},
			{
			  "name": "month",
			  "in": "path",
			  "required": true,
			  "description": "SkyBlock month",
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			},
			{
			  "name": "day",
			  "in": "path",
			  "required": true,
			  "description": "SkyBlock day",
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "$ref": "#/components/schemas/JacobContestWithParticipationsDto"
					}
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/contests/at/{year}/{month}": {
		"get": {
		  "tags": [
			"Contests"
		  ],
		  "summary": "Get all contests in a SkyBlock month",
		  "operationId": "EliteAPIFeaturesContestsGetContestsInMonthGetContestsInMonthEndpoint",
		  "parameters": [
			{
			  "name": "year",
			  "in": "path",
			  "required": true,
			  "description": "SkyBlock year",
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			},
			{
			  "name": "month",
			  "in": "path",
			  "required": true,
			  "description": "SkyBlock month",
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "object",
					"additionalProperties": {
					  "type": "array",
					  "items": {
						"$ref": "#/components/schemas/JacobContestDto"
					  }
					}
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/contests/at/{year}": {
		"get": {
		  "tags": [
			"Contests"
		  ],
		  "summary": "Get all contests in a SkyBlock year",
		  "operationId": "EliteAPIFeaturesContestsGetContestsInYearGetContestsInYearEndpoint",
		  "parameters": [
			{
			  "name": "year",
			  "in": "path",
			  "required": true,
			  "description": "SkyBlock year",
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			},
			{
			  "name": "now",
			  "in": "query",
			  "description": "If the year being requested is the current year. Not required.",
			  "schema": {
				"type": "boolean",
				"default": false,
				"nullable": true
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/YearlyContestsDto"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/contests/at/now": {
		"get": {
		  "tags": [
			"Contests"
		  ],
		  "summary": "Get upcoming contests for the current SkyBlock year",
		  "description": "Uses crowd-sourced data, which may not be accurate.\nData used and provided by <see href=\"https://github.com/hannibal002/SkyHanni/\">SkyHanni</see> to display upcoming contests in-game.",
		  "operationId": "EliteAPIFeaturesContestsGetCurrentContestsGetCurrentContestsEndpoint",
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/YearlyContestsDto"
				  }
				}
			  }
			}
		  }
		},
		"post": {
		  "tags": [
			"Contests"
		  ],
		  "summary": "Upload upcoming contests for the current SkyBlock year",
		  "description": "Data used and provided by <see href=\"https://github.com/hannibal002/SkyHanni/\">SkyHanni</see> to display upcoming contests in-game.",
		  "operationId": "EliteAPIFeaturesContestsUploadCurrentContestsUploadCurrentContestsEndpoint",
		  "requestBody": {
			"x-name": "Dictionary`2",
			"description": "",
			"content": {
			  "application/json": {
				"schema": {
				  "type": "object",
				  "example": {
					"1738390500": [
					  "Cactus",
					  "Carrot",
					  "Melon"
					],
					"1738394100": [
					  "Mushroom",
					  "Nether Wart",
					  "Pumpkin"
					],
					"1738397700": [
					  "Cocoa Beans",
					  "Potato",
					  "Wheat"
					],
					"1738401300": [
					  "Cactus",
					  "Cocoa Beans",
					  "Mushroom"
					],
					"1738404900": [
					  "Carrot",
					  "Nether Wart",
					  "Wheat"
					]
				  },
				  "additionalProperties": {
					"type": "array",
					"items": {
					  "type": "string"
					}
				  }
				}
			  }
			},
			"required": true,
			"x-position": 1
		  },
		  "responses": {
			"204": {
			  "description": "No Content"
			}
		  }
		}
	  },
	  "/contests/{playerUuid}": {
		"get": {
		  "tags": [
			"Contests"
		  ],
		  "summary": "Get all contests for a player",
		  "operationId": "EliteAPIFeaturesContestsGetPlayerParticipationsGetPlayerParticipationsEndpoint",
		  "parameters": [
			{
			  "name": "playerUuid",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "$ref": "#/components/schemas/ContestParticipationDto"
					}
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/contests/{playerUuid}/{profileUuid}": {
		"get": {
		  "tags": [
			"Contests"
		  ],
		  "summary": "Get all contests for a profile member",
		  "operationId": "EliteAPIFeaturesContestsGetProfileMemberParticipationsGetProfileMemberParticipationsEndpoint",
		  "parameters": [
			{
			  "name": "playerUuid",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "profileUuid",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "$ref": "#/components/schemas/ContestParticipationDto"
					}
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/contests/records/{year}": {
		"get": {
		  "tags": [
			"Contests"
		  ],
		  "summary": "Get contest records for a SkyBlock year",
		  "operationId": "EliteAPIFeaturesContestsGetRecordsInYearGetRecordsInYearEndpoint",
		  "parameters": [
			{
			  "name": "year",
			  "in": "path",
			  "required": true,
			  "description": "SkyBlock year",
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/YearlyCropRecordsDto"
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/contests/{playerUuid}/selected": {
		"get": {
		  "tags": [
			"Contests"
		  ],
		  "summary": "Get contests for the player's selected profile member",
		  "operationId": "EliteAPIFeaturesContestsGetSelectedMemberParticipationsGetSelectedMemberParticipationsEndpoint",
		  "parameters": [
			{
			  "name": "playerUuid",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "$ref": "#/components/schemas/ContestParticipationDto"
					}
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/account/{discordId}/entitlements": {
		"get": {
		  "tags": [
			"Account"
		  ],
		  "summary": "Get all entitlements for a user or guild",
		  "operationId": "EliteAPIFeaturesEntitlementsGetEntitlementsGetEntitlementsEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "target",
			  "in": "query",
			  "schema": {
				"nullable": true,
				"allOf": [
				  {
					"$ref": "#/components/schemas/EntitlementTarget"
				  }
				]
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "$ref": "#/components/schemas/EntitlementDto"
					}
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/account/{discordId}/entitlement/{productId}": {
		"post": {
		  "tags": [
			"Account"
		  ],
		  "summary": "Grant a test entitlement to a user or guild",
		  "description": "This passes along a request to Discord to grant a test entitlement to a user or guild, which only works on subscription products.",
		  "operationId": "EliteAPIFeaturesEntitlementsGrantTestEntitlementGrantTestEntitlementEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "productId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "target",
			  "in": "query",
			  "schema": {
				"nullable": true,
				"allOf": [
				  {
					"$ref": "#/components/schemas/EntitlementTarget"
				  }
				]
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		},
		"delete": {
		  "tags": [
			"Account"
		  ],
		  "summary": "Remove a test entitlement from a user or guild",
		  "description": "This passes along a request to Discord to remove a test entitlement from a user or guild.",
		  "operationId": "EliteAPIFeaturesEntitlementsRemoveTestEntitlementRemoveTestEntitlementEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "productId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "target",
			  "in": "query",
			  "schema": {
				"nullable": true,
				"allOf": [
				  {
					"$ref": "#/components/schemas/EntitlementTarget"
				  }
				]
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/guild/{discordId}/events/{eventId}/teams/{teamId}/members/{player}": {
		"post": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Add an Event Member to a Team",
		  "operationId": "EliteAPIFeaturesEventsAdminAddTeamMemberAddTeamMemberEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "teamId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			},
			{
			  "name": "player",
			  "in": "path",
			  "required": true,
			  "description": "Player uuid or ign",
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		},
		"delete": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Kick an Event Team Member",
		  "operationId": "EliteAPIFeaturesEventsAdminKickTeamMemberKickTeamMemberEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "teamId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			},
			{
			  "name": "player",
			  "in": "path",
			  "required": true,
			  "description": "Player uuid or ign",
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/guild/{discordId}/events/{eventId}/bans/{playerUuid}": {
		"post": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Ban an Event Member",
		  "operationId": "EliteAPIFeaturesEventsAdminBanMemberBanMemberEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "playerUuid",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "reason",
			"content": {
			  "application/json": {
				"schema": {
				  "type": "string"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/AdminEventMemberDto"
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		},
		"delete": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Unban an Event Member",
		  "operationId": "EliteAPIFeaturesEventsAdminUnbanMemberUnbanMemberEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "playerUuid",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/guild/{discordId}/events/collection": {
		"post": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Create Collection Event",
		  "operationId": "EliteAPIFeaturesEventsAdminCreateEventCollectionCreateCollectionEventEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "event",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/CreateCollectionEventDto"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/EventDetailsDto"
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/guild/{discordId}/events/medals": {
		"post": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Create Medal Event",
		  "operationId": "EliteAPIFeaturesEventsAdminCreateEventMedalsCreateMedalEventEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "event",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/CreateMedalEventDto"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/EventDetailsDto"
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/guild/{discordId}/events/pests": {
		"post": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Create Pests Event",
		  "operationId": "EliteAPIFeaturesEventsAdminCreateEventPestsCreatePestsEventEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "event",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/CreatePestEventDto"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/EventDetailsDto"
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/guild/{discordId}/events/weight": {
		"post": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Create Weight Event",
		  "operationId": "EliteAPIFeaturesEventsAdminCreateEventWeightCreateWeightEventEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "event",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/CreateWeightEventDto"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/EventDetailsDto"
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/guild/{discordId}/events/{eventId}/teams": {
		"post": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Create an Event Team",
		  "description": "This generally should only be used for events with a set amount of teams (when users are not allowed to create their own teams)",
		  "operationId": "EliteAPIFeaturesEventsAdminCreateTeamCreateTeamEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "team",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/CreateEventTeamDto"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/guild/{discordId}/events/{eventId}": {
		"delete": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Delete Event",
		  "description": "Delete an event and all associated data. Only available for unapproved events.",
		  "operationId": "EliteAPIFeaturesEventsAdminDeleteEventDeleteEventEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		},
		"patch": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Update Event",
		  "operationId": "EliteAPIFeaturesEventsAdminUpdateEventCreateWeightEventEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "event",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/EditEventDto"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/EventDetailsDto"
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/guild/{discordId}/events/{eventId}/banner": {
		"delete": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Delete Custom Event Banner",
		  "operationId": "EliteAPIFeaturesEventsAdminDeleteEventBannerDeleteEventBannerEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		},
		"post": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Set Custom Event Banner",
		  "operationId": "EliteAPIFeaturesEventsAdminSetEventBannerSetEventBannerEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "data",
			"content": {
			  "multipart/form-data": {
				"schema": {
				  "$ref": "#/components/schemas/EditEventBannerDto"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/guild/{discordId}/events/{eventId}/members/{playerUuid}": {
		"delete": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Delete an Event Member",
		  "operationId": "EliteAPIFeaturesEventsAdminDeleteMemberDeleteMemberEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "playerUuid",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "profileUuid",
			  "in": "query",
			  "schema": {
				"type": "string",
				"nullable": true
			  }
			},
			{
			  "name": "recordId",
			  "in": "query",
			  "schema": {
				"type": "integer",
				"format": "int32",
				"nullable": true
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		},
		"post": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Ban an Event Member",
		  "operationId": "EliteAPIFeaturesEventsAdminForceAddMemberForceAddMemberEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "playerUuid",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "profileUuid",
			  "in": "query",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/guild/{discordId}/events/{eventId}/teams/{teamId}": {
		"delete": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Delete an Event Team",
		  "operationId": "EliteAPIFeaturesEventsAdminDeleteTeamDeleteTeamEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "teamId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		},
		"patch": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Update a team",
		  "operationId": "EliteAPIFeaturesEventsAdminUpdateTeamUpdateTeamEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "teamId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "team",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/UpdateEventTeamDto"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/guild/{discordId}/event/{eventId}/bans": {
		"get": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Get banned event members",
		  "operationId": "EliteAPIFeaturesEventsAdminGetBannedMembersGetBannedMembersEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "$ref": "#/components/schemas/AdminEventMemberDto"
					}
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/guild/{discordId}/event/{eventId}/members": {
		"get": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Get event members",
		  "operationId": "EliteAPIFeaturesEventsAdminGetEventMembersGetEventMembersEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "$ref": "#/components/schemas/AdminEventMemberDto"
					}
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/guild/{discordId}/event/{eventId}/admin": {
		"get": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Get an event for a guild",
		  "operationId": "EliteAPIFeaturesEventsAdminGetGuildEventGetGuildEventEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/EventDetailsDto"
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/guild/{discordId}/events/admin": {
		"get": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Get all events for a guild",
		  "operationId": "EliteAPIFeaturesEventsAdminGetGuildEventsGetGuildEventsEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "$ref": "#/components/schemas/EventDetailsDto"
					}
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/guild/{discordId}/event/{eventId}/teams": {
		"get": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Get event teams",
		  "operationId": "EliteAPIFeaturesEventsAdminGetTeamsGetTeamsEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "$ref": "#/components/schemas/EventTeamWithMembersDto"
					}
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/guild/{discordId}/events/{eventId}/teams/{teamId}/owner": {
		"put": {
		  "tags": [
			"Guild"
		  ],
		  "summary": "Set player as team owner",
		  "operationId": "EliteAPIFeaturesEventsAdminSetTeamOwnerSetTeamOwnerEndpoint",
		  "parameters": [
			{
			  "name": "discordId",
			  "in": "path",
			  "required": true,
			  "description": "Discord Snowflake ID of the requested resource (guild, user, etc.)",
			  "schema": {
				"type": "integer",
				"format": "int64"
			  }
			},
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "teamId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "SetTeamOwnerRequest",
			"description": "",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/SetTeamOwnerRequest"
				}
			  }
			},
			"required": true,
			"x-position": 1
		  },
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/event/{eventId}": {
		"get": {
		  "tags": [
			"Event"
		  ],
		  "summary": "Get an event",
		  "operationId": "EliteAPIFeaturesEventsPublicGetEventGetEventEndpoint",
		  "parameters": [
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/EventDetailsDto"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/event/defaults": {
		"get": {
		  "tags": [
			"Event"
		  ],
		  "summary": "Get event default constants",
		  "description": "Default constants for event settings.",
		  "operationId": "EliteAPIFeaturesEventsPublicGetEventDefaultsGetEventDefaultsEndpoint",
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/EventDefaultsDto"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/event/{eventId}/member/{playerUuid}": {
		"get": {
		  "tags": [
			"Event"
		  ],
		  "summary": "Get an event member",
		  "operationId": "EliteAPIFeaturesEventsPublicGetEventMemberGetEventMembersEndpoint",
		  "parameters": [
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "playerUuid",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/EventMemberDto"
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/event/{eventId}/members": {
		"get": {
		  "tags": [
			"Event"
		  ],
		  "summary": "Get event members",
		  "operationId": "EliteAPIFeaturesEventsPublicGetEventMembersGetEventMembersEndpoint",
		  "parameters": [
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "$ref": "#/components/schemas/EventMemberDetailsDto"
					}
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/event/{eventId}/team/{teamId}": {
		"get": {
		  "tags": [
			"Event"
		  ],
		  "summary": "Get an event team",
		  "operationId": "EliteAPIFeaturesEventsPublicGetEventTeamGetEventTeamEndpoint",
		  "parameters": [
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "teamId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/EventTeamWithMembersDto"
				  }
				}
			  }
			}
		  }
		},
		"delete": {
		  "tags": [
			"Event"
		  ],
		  "summary": "Delete team",
		  "operationId": "EliteAPIFeaturesEventsUserDeleteTeamDeleteTeamEndpoint",
		  "parameters": [
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "teamId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		},
		"patch": {
		  "tags": [
			"Event"
		  ],
		  "summary": "Update a team",
		  "operationId": "EliteAPIFeaturesEventsUserUpdateTeamUpdateTeamEndpoint",
		  "parameters": [
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "teamId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "team",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/UpdateEventTeamDto"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/event/{eventId}/teams": {
		"get": {
		  "tags": [
			"Event"
		  ],
		  "summary": "Get event teams",
		  "operationId": "EliteAPIFeaturesEventsPublicGetEventTeamsGetEventTeamsEndpoint",
		  "parameters": [
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "$ref": "#/components/schemas/EventTeamWithMembersDto"
					}
				  }
				}
			  }
			}
		  }
		},
		"post": {
		  "tags": [
			"Event"
		  ],
		  "summary": "Create a team",
		  "operationId": "EliteAPIFeaturesEventsUserCreateTeamCreateTeamEndpoint",
		  "parameters": [
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "team",
			"content": {
			  "*/*": {
				"schema": {
				  "$ref": "#/components/schemas/CreateEventTeamDto"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/event/teams/words": {
		"get": {
		  "tags": [
			"Event"
		  ],
		  "summary": "Get event team word list constants",
		  "description": "Lists of whitelisted words for team name generation.",
		  "operationId": "EliteAPIFeaturesEventsPublicGetTeamWordListGetTeamWordListEndpoint",
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/EventTeamsWordListDto"
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/events": {
		"get": {
		  "tags": [
			"Event"
		  ],
		  "summary": "Get upcoming events",
		  "operationId": "EliteAPIFeaturesEventsPublicGetUpcomingGetUpcomingEventsEndpoint",
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "$ref": "#/components/schemas/EventDetailsDto"
					}
				  }
				}
			  }
			}
		  }
		}
	  },
	  "/event/{eventId}/join": {
		"post": {
		  "tags": [
			"Event"
		  ],
		  "summary": "Join an event",
		  "operationId": "EliteAPIFeaturesEventsUserJoinEventJoinEventEndpoint",
		  "parameters": [
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "playerUuid",
			  "in": "query",
			  "schema": {
				"type": "string",
				"nullable": true
			  }
			},
			{
			  "name": "profileUuid",
			  "in": "query",
			  "schema": {
				"type": "string",
				"nullable": true
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/event/{eventId}/team/{teamId}/join": {
		"post": {
		  "tags": [
			"Event"
		  ],
		  "summary": "Join a team",
		  "operationId": "EliteAPIFeaturesEventsUserJoinTeamJoinTeamEndpoint",
		  "parameters": [
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "teamId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "joinCode",
			"description": "Join code for the team",
			"content": {
			  "application/json": {
				"schema": {
				  "type": "string"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/event/{eventId}/team/{teamId}/member/{player}": {
		"delete": {
		  "tags": [
			"Event"
		  ],
		  "summary": "Kick a team member",
		  "description": "Kicked members can rejoin the team if they have the join code.",
		  "operationId": "EliteAPIFeaturesEventsUserKickTeamMemberKickTeamMemberEndpoint",
		  "parameters": [
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "teamId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			},
			{
			  "name": "player",
			  "in": "path",
			  "required": true,
			  "description": "Player uuid or ign",
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/event/{eventId}/leave": {
		"post": {
		  "tags": [
			"Event"
		  ],
		  "summary": "Join an event",
		  "operationId": "EliteAPIFeaturesEventsUserLeaveEventLeaveEventEndpoint",
		  "parameters": [
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/event/{eventId}/team/{teamId}/leave": {
		"post": {
		  "tags": [
			"Event"
		  ],
		  "summary": "Leave a team",
		  "operationId": "EliteAPIFeaturesEventsUserLeaveTeamLeaveTeamEndpoint",
		  "parameters": [
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "teamId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/event/{eventId}/team/{teamId}/owner": {
		"put": {
		  "tags": [
			"Event"
		  ],
		  "summary": "Set player as team owner",
		  "operationId": "EliteAPIFeaturesEventsUserSetTeamOwnerSetTeamOwnerEndpoint",
		  "parameters": [
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "teamId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			}
		  ],
		  "requestBody": {
			"x-name": "ChangeTeamOwnerRequest",
			"description": "",
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/ChangeTeamOwnerRequest"
				}
			  }
			},
			"required": true,
			"x-position": 1
		  },
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/event/{eventId}/team/{teamId}/code": {
		"post": {
		  "tags": [
			"Event"
		  ],
		  "summary": "Generate new team join code",
		  "operationId": "EliteAPIFeaturesEventsUserUpdateTeamCodeUpdateTeamJoinCodeEndpoint",
		  "parameters": [
			{
			  "name": "eventId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "uint64"
			  }
			},
			{
			  "name": "teamId",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "integer",
				"format": "int32"
			  }
			}
		  ],
		  "responses": {
			"204": {
			  "description": "No Content"
			},
			"401": {
			  "description": "Unauthorized"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/garden/{profileUuid}": {
		"get": {
		  "tags": [
			"Garden"
		  ],
		  "summary": "Get Garden data for a profile",
		  "description": "Get Garden data for a specific profile by UUID",
		  "operationId": "EliteAPIFeaturesGardenGetGardenGetGardenEndpoint",
		  "parameters": [
			{
			  "name": "profileUuid",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/GardenDto"
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"404": {
			  "description": "Not Found"
			}
		  }
		}
	  },
	  "/garden/{playerUuid}/selected": {
		"get": {
		  "tags": [
			"Garden"
		  ],
		  "summary": "Get selected Garden data for a player",
		  "description": "Get selected Garden data for a specific player by UUID",
		  "operationId": "EliteAPIFeaturesGardenGetSelectedGardenGetGardenEndpoint",
		  "parameters": [
			{
			  "name": "playerUuid",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/GardenDto"
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"404": {
			  "description": "Not Found"
			}
		  }
		}
	  },
	  "/graph/admin/{playerUuid}/{profileUuid}/crops": {
		"get": {
		  "tags": [
			"Graph"
		  ],
		  "summary": "Get Admin Crop Collections",
		  "operationId": "EliteAPIFeaturesGraphsGetAdminCropGraphsGetAdminCropGraphsEndpoint",
		  "parameters": [
			{
			  "name": "playerUuid",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "profileUuid",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "from",
			  "in": "query",
			  "description": "Unix timestamp in seconds for the start of the data to return",
			  "schema": {
				"type": "integer",
				"format": "int64",
				"default": 0,
				"nullable": true
			  }
			},
			{
			  "name": "days",
			  "in": "query",
			  "description": "Amount of days after the \"from\" timestamp to include",
			  "schema": {
				"type": "integer",
				"format": "int32",
				"default": 7,
				"nullable": true
			  }
			},
			{
			  "name": "perDay",
			  "in": "query",
			  "description": "Data points returned per 24-hour period",
			  "schema": {
				"type": "integer",
				"format": "int32",
				"default": 4,
				"nullable": true
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "$ref": "#/components/schemas/CropCollectionsDataPointDto"
					}
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
			{
			  "JWTBearerAuth": []
			}
		  ]
		}
	  },
	  "/graph/admin/{playerUuid}/{profileUuid}/skills": {
		"get": {
		  "tags": [
			"Graph"
		  ],
		  "summary": "Get Admin Skill XP",
		  "operationId": "EliteAPIFeaturesGraphsGetAdminSkillGraphsGetAdminSkillGraphsEndpoint",
		  "parameters": [
			{
			  "name": "playerUuid",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "profileUuid",
			  "in": "path",
			  "required": true,
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "name": "from",
			  "in": "query",
			  "schema": {
				"type": "integer",
				"format": "int64",
				"default": 0,
				"nullable": true
			  }
			},
			{
			  "name": "days",
			  "in": "query",
			  "schema": {
				"type": "integer",
				"format": "int32",
				"default": 7,
				"nullable": true
			  }
			},
			{
			  "name": "perDay",
			  "in": "query",
			  "schema": {
				"type": "integer",
				"format": "int32",
				"default": 4,
				"nullable": true
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Success",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "array",
					"items": {
					  "$ref": "#/components/schemas/SkillsDataPointDto"
					}
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/problem+json": {
				  "schema": {
					"$ref": "#/components/schemas/ErrorResponse"
				  }
				}
			  }
			},
			"401": {
			  "description": "Unauthorized"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "security": [
[...]
