.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

*.cjs
svelte.config.js
vite.config.js
build/*
.github/workflows/*
.svelte-kit/*
node_modules/*
pnpm-lock.yaml
*.cjs
src/lib/api/swagger.json
src/lib/api/api.d.ts

static