version: "3.8"
services:
  website:
    env_file:
      - .env.production
    environment:
      - NODE_ENV=production
      - POSTGRES_URI=postgres://user:postgres123@database:5432/elite
    build: .
    ports:
      - 3000:3000
    depends_on:
      - database
    restart: always
  database:
    image: postgres:13.8
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=postgres123
      - POSTGRES_DB=elite
    expose:
      - "5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: {}