version: '3.8'
services:
    website:
        env_file:
            - .env.production
        environment:
            - NODE_ENV=production
        build: .
        ports:
            - 3000:3000
        depends_on:
            - database
            - cache
        restart: always
        networks:
            - elite-network
    cache:
        image: redis:7.0.7
        restart: always
        command: redis-server --save 20 1 --loglevel warning --requirepass redisCachePassword123
        volumes:
            - redis-data:/data
        expose:
            - '6379'
        networks:
            - elite-network

networks:
    elite-network:
        driver: bridge

volumes:
    redis-data: {}
