services:
    website:
        env_file:
            - .env.production
        environment:
            - NODE_ENV=production
        build: .
        ports:
            - 3000:3000
        restart: always
        networks:
            - elite-network

networks:
    elite-network:
        name: elite-network
        driver: bridge
        external: true
