version: '3.8'
services:
    website:
        env_file:
            - .env.production
        environment:
            - NODE_ENV=production
            - POSTGRES_URI=postgres://user:postgres123@database:5432/elite
        build: .
        ports:
            - 3000:3000
        depends_on:
            - database
            - cache
            - pocketbase
        restart: always
        networks:
            - elite-network
    database:
        image: postgres:13.8
        restart: always
        environment:
            - POSTGRES_USER=user
            - POSTGRES_PASSWORD=postgres123
            - POSTGRES_DB=elite
        ports:
            - '5434:5432'
        expose:
            - '5434'
        volumes:
            - db-data:/var/lib/postgresql/data
            - ./src/database/init.sql:/docker-entrypoint-initdb.d/init.sql
        networks:
            - elite-network
    cache:
        image: redis:7.0.7
        restart: always
        ports:
            - '6379:6379'
        command: redis-server --save 20 1 --loglevel warning --requirepass redisCachePassword123
        expose:
            - '6379'
        volumes:
            - redis-data:/data
        networks:
            - elite-network
    pocketbase:
        build: ./src/database/pocketbase/
        restart: always
        ports:
            - '8080:8080'
        expose:
            - '8080'
        depends_on:
            - database
            - cache
        networks:
            - elite-network
        volumes:
            - pocketbase-data:/pb
            - ./src/database/pocketbase/pb_migrations:/pb/pb_migrations

networks:
    elite-network:
        driver: bridge

volumes:
    db-data: {}
    redis-data: {}
    pocketbase-data: {}
