@import "tailwindcss";

@layer base {
	:root {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--muted: 240 4.8% 93%;
		--muted-variant: 240 4.8% 82%;
		--muted-foreground: 240 3.8% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--card: 0 0% 96%;
		--card-foreground: 240 10% 3.9%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 90% 50%;
		--destructive-foreground: 0 0% 98%;

		--progress: 140 60% 50%;
		--completed: 50 100% 50%;

		--link: 240 80% 55%;
		--active: 55 100% 82%;

		--ring: 240 10% 3.9%;

		--radius: 0.5rem;

		--wheat: 62 67% 56%;
		--melon: 4 89% 39%;
		--cactus: 91 52% 24%;
		--pumpkin: 30 87% 34%;
		--carrot: 32 100% 52%;
		--potato: 39 75% 65%;
		--sugarcane: 89 31% 50%;
		--netherwart: 356 63% 22%;
		--mushroom: 24 26% 35%;
		--cocoa: 24 54% 25%;

		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-variant: 240 4.8% 25%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 240 10% 6%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 90.8% 50.6%;
		--destructive-foreground: 0 0% 98%;

		--progress: 140 60% 30%;
		--completed: 42 100% 42%;

		--link: 220 100% 60%;
		--active: 35 90% 25%;

		--ring: 240 4.9% 83.9%;

		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	.light {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--muted: 240 4.8% 93%;
		--muted-variant: 240 4.8% 82%;
		--muted-foreground: 240 3.8% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--card: 0 0% 96%;
		--card-foreground: 240 10% 3.9%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 90% 50%;
		--destructive-foreground: 0 0% 98%;

		--progress: 140 60% 50%;
		--completed: 50 100% 50%;

		--link: 240 80% 55%;
		--active: 55 100% 82%;

		--ring: 240 10% 3.9%;

		--radius: 0.5rem;

		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	.sea {
		--background: 200 70% 90%;
		--foreground: 220 15% 20%;

		--muted: 200 50% 85%;
		--muted-variant: 200 50% 77%;
		--muted-foreground: 220 25% 35%;

		--popover: 200 60% 95%;
		--popover-foreground: 220 15% 20%;

		--card: 200 65% 86%;
		--card-foreground: 220 15% 20%;

		--border: 200 30% 80%;
		--input: 200 40% 85%;

		--primary: 200 80% 40%;
		--primary-foreground: 200 80% 95%;

		--secondary: 16 74% 65%;
		--secondary-foreground: 220 10% 10%;

		--accent: 145 40% 69%;
		--accent-foreground: 0 0% 98%;

		--destructive: 356 63% 50%;
		--destructive-foreground: 0 0% 98%;

		--progress: 145 40% 50%;
		--completed: 40 70% 70%;

		--link: 240 85% 69%;
		--active: 55 100% 75%;

		--ring: 200 60% 45%;

		--sidebar-background: 200 65% 90%;
		--sidebar-foreground: 220 15% 20%;
		--sidebar-primary: 200 80% 40%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 145 40% 50%;
		--sidebar-accent-foreground: 0 0% 98%;
		--sidebar-border: 200 30% 80%;
		--sidebar-ring: 190 70% 88%;
	}

	.vampire {
		--background: 0 0% 5%;
		--foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-variant: 240 4.8% 23%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 0 0% 8%;
		--popover-foreground: 0 0% 98%;

		--card: 0 0% 8%;
		--card-foreground: 0 0% 98%;

		--border: 0 0% 15%;
		--input: 0 0% 10%;

		--primary: 0 50% 30%;
		--primary-foreground: 0 0% 98%;

		--secondary: 340 100% 40%;
		--secondary-foreground: 0 0% 98%;

		--accent: 360 60% 20%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 70% 50%;
		--destructive-foreground: 0 0% 98%;

		--progress: 140 60% 30%;
		--completed: 45 100% 45%;

		--link: 260 80% 40%;
		--active: 35 90% 25%;

		--ring: 340 50% 40%;

		--sidebar-background: 0 0% 8%;
		--sidebar-foreground: 0 0% 90%;
		--sidebar-primary: 0 50% 30%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 340 100% 40%;
		--sidebar-accent-foreground: 0 0% 98%;
		--sidebar-border: 0 0% 15%;
		--sidebar-ring: 300 50% 60%;
	}

	html {
		scrollbar-color: hsl(var(--muted-variant) / 0.75) hsl(var(--muted) / 0.75);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	html {
		@apply bg-background;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer components {
	.pixelated {
		image-rendering: pixelated;
	}
}
