@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	:root {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

		--background: hsl(0 0% 100%);
		--foreground: hsl(240 10% 3.9%);

		--muted: hsl(240 4.8% 93%);
		--muted-variant: hsl(240 4.8% 82%);
		--muted-foreground: hsl(240 3.8% 46.1%);

		--popover: hsl(0 0% 100%);
		--popover-foreground: hsl(240 10% 3.9%);

		--card: hsl(0 0% 96%);
		--card-foreground: hsl(240 10% 3.9%);

		--border: hsl(240 5.9% 90%);
		--input: hsl(240 5.9% 90%);

		--primary: hsl(240 5.9% 10%);
		--primary-foreground: hsl(0 0% 98%);

		--secondary: hsl(240 4.8% 95.9%);
		--secondary-foreground: hsl(240 5.9% 10%);

		--accent: hsl(240 4.8% 95.9%);
		--accent-foreground: hsl(240 5.9% 10%);

		--destructive: hsl(0 90% 50%);
		--destructive-foreground: hsl(0 0% 98%);

		--progress: hsl(140 60% 50%);
		--completed: hsl(50 100% 50%);

		--link: hsl(240 80% 55%);
		--active: hsl(55 100% 82%);

		--ring: hsl(240 10% 3.9%);

		--radius: 0.5rem;

		--accent-green: hsl(153, 57%, 60%);

		--wheat: hsl(62 67% 56%);
		--melon: hsl(4 89% 39%);
		--cactus: hsl(91 52% 24%);
		--pumpkin: hsl(30 87% 34%);
		--carrot: hsl(32 100% 52%);
		--potato: hsl(39 75% 65%);
		--sugarcane: hsl(89 31% 50%);
		--netherwart: hsl(356 63% 22%);
		--mushroom: hsl(24 26% 35%);
		--cocoa: hsl(24 54% 25%);

		--sidebar-background: hsl(0 0% 98%);
		--sidebar-foreground: hsl(240 5.3% 26.1%);
		--sidebar-primary: hsl(240 5.9% 10%);
		--sidebar-primary-foreground: hsl(0 0% 98%);
		--sidebar-accent: hsl(240 4.8% 95.9%);
		--sidebar-accent-foreground: hsl(240 5.9% 10%);
		--sidebar-border: hsl(220 13% 91%);
		--sidebar-ring: hsl(217.2 91.2% 59.8%);
	}

	.dark {
		--background: hsl(240 10% 3.9%);
		--foreground: hsl(0 0% 98%);

		--muted: hsl(240 3.7% 15.9%);
		--muted-variant: hsl(240 4.8% 25%);
		--muted-foreground: hsl(240 5% 64.9%);

		--popover: hsl(240 10% 3.9%);
		--popover-foreground: hsl(0 0% 98%);

		--card: hsl(240 10% 6%);
		--card-foreground: hsl(0 0% 98%);

		--border: hsl(240 3.7% 15.9%);
		--input: hsl(240 3.7% 15.9%);

		--primary: hsl(0 0% 98%);
		--primary-foreground: hsl(240 5.9% 10%);

		--secondary: hsl(240 3.7% 15.9%);
		--secondary-foreground: hsl(0 0% 98%);

		--accent: hsl(240 3.7% 15.9%);
		--accent-foreground: hsl(0 0% 98%);

		--destructive: hsl(0 90.8% 50.6%);
		--destructive-foreground: hsl(0 0% 98%);

		--progress: hsl(140 60% 30%);
		--completed: hsl(42 100% 42%);

		--link: hsl(220 100% 60%);
		--active: hsl(35 90% 25%);

		--ring: hsl(240 4.9% 83.9%);

		--sidebar-background: hsl(240 5.9% 10%);
		--sidebar-foreground: hsl(240 4.8% 95.9%);
		--sidebar-primary: hsl(224.3 76.3% 48%);
		--sidebar-primary-foreground: hsl(0 0% 100%);
		--sidebar-accent: hsl(240 3.7% 15.9%);
		--sidebar-accent-foreground: hsl(240 4.8% 95.9%);
		--sidebar-border: hsl(240 3.7% 15.9%);
		--sidebar-ring: hsl(217.2 91.2% 59.8%);
	}

	.light {
		--background: hsl(0 0% 100%);
		--foreground: hsl(240 10% 3.9%);

		--muted: hsl(240 4.8% 93%);
		--muted-variant: hsl(240 4.8% 82%);
		--muted-foreground: hsl(240 3.8% 46.1%);

		--popover: hsl(0 0% 100%);
		--popover-foreground: hsl(240 10% 3.9%);

		--card: hsl(0 0% 96%);
		--card-foreground: hsl(240 10% 3.9%);

		--border: hsl(240 5.9% 90%);
		--input: hsl(240 5.9% 90%);

		--primary: hsl(240 5.9% 10%);
		--primary-foreground: hsl(0 0% 98%);

		--secondary: hsl(240 4.8% 95.9%);
		--secondary-foreground: hsl(240 5.9% 10%);

		--accent: hsl(240 4.8% 95.9%);
		--accent-foreground: hsl(240 5.9% 10%);

		--destructive: hsl(0 90% 50%);
		--destructive-foreground: hsl(0 0% 98%);

		--progress: hsl(140 60% 50%);
		--completed: hsl(50 100% 50%);

		--link: hsl(240 80% 55%);
		--active: hsl(55 100% 82%);

		--accent-green: hsl(131, 70%, 36%);

		--ring: hsl(240 10% 3.9%);

		--radius: 0.5rem;

		--sidebar-background: hsl(0 0% 98%);
		--sidebar-foreground: hsl(240 5.3% 26.1%);
		--sidebar-primary: hsl(240 5.9% 10%);
		--sidebar-primary-foreground: hsl(0 0% 98%);
		--sidebar-accent: hsl(240 4.8% 95.9%);
		--sidebar-accent-foreground: hsl(240 5.9% 10%);
		--sidebar-border: hsl(220 13% 91%);
		--sidebar-ring: hsl(217.2 91.2% 59.8%);
	}

	.sea {
		--background: hsl(200 70% 90%);
		--foreground: hsl(220 15% 20%);

		--muted: hsl(200 50% 85%);
		--muted-variant: hsl(200 50% 77%);
		--muted-foreground: hsl(220 25% 35%);

		--popover: hsl(200 60% 95%);
		--popover-foreground: hsl(220 15% 20%);

		--card: hsl(200 65% 86%);
		--card-foreground: hsl(220 15% 20%);

		--border: hsl(200 30% 80%);
		--input: hsl(200 40% 85%);

		--primary: hsl(200 80% 40%);
		--primary-foreground: hsl(200 80% 95%);

		--secondary: hsl(16 74% 65%);
		--secondary-foreground: hsl(220 10% 10%);

		--accent: hsl(145 40% 69%);
		--accent-foreground: hsl(0 0% 98%);

		--destructive: hsl(356 63% 50%);
		--destructive-foreground: hsl(0 0% 98%);

		--progress: hsl(145 40% 50%);
		--completed: hsl(40 70% 70%);

		--link: hsl(240 85% 69%);
		--active: hsl(55 100% 75%);

		--ring: hsl(200 60% 45%);

		--sidebar-background: hsl(200 65% 90%);
		--sidebar-foreground: hsl(220 15% 20%);
		--sidebar-primary: hsl(200 80% 40%);
		--sidebar-primary-foreground: hsl(0 0% 98%);
		--sidebar-accent: hsl(145 40% 50%);
		--sidebar-accent-foreground: hsl(0 0% 98%);
		--sidebar-border: hsl(200 30% 80%);
		--sidebar-ring: hsl(190 70% 88%);
	}

	.vampire {
		--background: hsl(0 0% 5%);
		--foreground: hsl(0 0% 98%);

		--muted: hsl(240 3.7% 15.9%);
		--muted-variant: hsl(240 4.8% 23%);
		--muted-foreground: hsl(240 5% 64.9%);

		--popover: hsl(0 0% 8%);
		--popover-foreground: hsl(0 0% 98%);

		--card: hsl(0 0% 8%);
		--card-foreground: hsl(0 0% 98%);

		--border: hsl(0 0% 15%);
		--input: hsl(0 0% 10%);

		--primary: hsl(0 50% 30%);
		--primary-foreground: hsl(0 0% 98%);

		--secondary: hsl(340 100% 40%);
		--secondary-foreground: hsl(0 0% 98%);

		--accent: hsl(360 60% 20%);
		--accent-foreground: hsl(0 0% 98%);

		--destructive: hsl(0 70% 50%);
		--destructive-foreground: hsl(0 0% 98%);

		--progress: hsl(140 60% 30%);
		--completed: hsl(45 100% 45%);

		--link: hsl(260 80% 40%);
		--active: hsl(35 90% 25%);

		--ring: hsl(340 50% 40%);

		--sidebar-background: hsl(0 0% 8%);
		--sidebar-foreground: hsl(0 0% 90%);
		--sidebar-primary: hsl(0 50% 30%);
		--sidebar-primary-foreground: hsl(0 0% 98%);
		--sidebar-accent: hsl(340 100% 40%);
		--sidebar-accent-foreground: hsl(0 0% 98%);
		--sidebar-border: hsl(0 0% 15%);
		--sidebar-ring: hsl(300 50% 60%);
	}
}

@theme inline {
	/* Radius (for rounded-*) */
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	/* Colors */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-ring: var(--ring);
	--color-radius: var(--radius);

	--color-sidebar: var(--sidebar-background);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--color-wheat: var(--wheat);
	--color-melon: var(--melon);
	--color-cactus: var(--cactus);
	--color-pumpkin: var(--pumpkin);
	--color-carrot: var(--carrot);
	--color-potato: var(--potato);
	--color-sugarcane: var(--sugarcane);
	--color-netherwart: var(--netherwart);
	--color-mushroom: var(--mushroom);
	--color-cocoa: var(--cocoa);

	--color-progress: var(--progress);
	--color-completed: var(--completed);
	--color-link: var(--link);
	--color-active: var(--active);
	--color-accent-green: var(--accent-green);

	/* Spacing */
	--spacing-8xl: 90rem;

	/* Fonts */
	--font-emoji:
		'Twemoji Mozilla', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji',
		'EmojiOne Color', 'Android Emoji', inherit;

	/* Animations */
	--animate-bounce-horizontal: bounce-horizontal 1s ease-out infinite;
	@keyframes bounce-horizontal {
		0%,
		100% {
			transform: translateX(0);
		}
		50% {
			transform: translateX(-25%);
		}
	}

	/* Minecraft style obfuscated text animation, works by cycling the character through an alphabet, so we need to scroll up one character height at a time */
	--animate-obfuscated: obfuscated 4s steps(var(--obfuscated-distance, 89), end) infinite;
	@keyframes obfuscated {
		0% {
			transform: translateY(0);
		}
		100% {
			transform: translateY(calc(-1em * var(--obfuscated-distance, 84)));
		}
	}
}

@layer base {
	* {
		border-color: var(--border);
	}
	html {
		background-color: var(--background);
		scrollbar-color: hsl(var(--muted-variant) / 0.75) hsl(var(--muted) / 0.75);
	}
	body {
		background-color: var(--background);
		color: var(--foreground);
	}
	.container {
		padding: 2rem;
	}
	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}
}

@layer components {
	.pixelated {
		image-rendering: pixelated;
	}

	.animate-obfuscated {
		line-height: 1;
	}

	[data-rehype-pretty-code-figure] {
		background-color: var(--color-code);
		color: var(--color-code-foreground);
		border-radius: var(--radius-lg);
		border-width: 0px;
		border-color: var(--border);
		margin-top: calc(var(--spacing) * 6);
		overflow: hidden;
		font-size: var(--text-sm);
		outline: none;
		position: relative;
		@apply md:-mx-4;

		&:has([data-rehype-pretty-code-title]) [data-slot='copy-button'] {
			top: calc(var(--spacing) * 1.5) !important;
		}
	}

	[data-rehype-pretty-code-title] {
		border-bottom: color-mix(in oklab, var(--border) 30%, transparent);
		border-bottom-width: 1px;
		border-bottom-style: solid;
		padding-block: calc(var(--spacing) * 2.5);
		padding-inline: calc(var(--spacing) * 4);
		font-size: var(--text-sm);
		font-family: var(--font-mono);
		color: var(--color-code-foreground);
	}

	[data-line-numbers] {
		display: grid;
		min-width: 100%;
		white-space: pre;
		border: 0;
		background: transparent;
		padding: 0;
		counter-reset: line;
		box-decoration-break: clone;
	}

	[data-line-numbers] [data-line]::before {
		font-size: var(--text-sm);
		counter-increment: line;
		content: counter(line);
		display: inline-block;
		width: calc(var(--spacing) * 16);
		padding-right: calc(var(--spacing) * 6);
		text-align: right;
		color: var(--color-code-number);
		background-color: var(--color-code);
		position: sticky;
		left: 0;
	}

	[data-line-numbers] [data-highlighted-line][data-line]::before {
		background-color: var(--color-code-highlight);
	}

	[data-line] {
		padding-top: calc(var(--spacing) * 0.5);
		padding-bottom: calc(var(--spacing) * 0.5);
		min-height: calc(var(--spacing) * 1);
		width: 100%;
		display: inline-block;
	}

	[data-line] span {
		color: var(--shiki-light);

		@variant dark {
			color: var(--shiki-dark) !important;
		}
	}

	[data-highlighted-line],
	[data-highlighted-chars] {
		position: relative;
		background-color: var(--color-code-highlight);
	}

	[data-highlighted-line] {
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			width: 2px;
			height: 100%;
			content: '';
			background-color: color-mix(in oklab, var(--muted-foreground) 50%, transparent);
		}
	}

	[data-highlighted-chars] {
		border-radius: var(--radius-sm);
		padding-inline: 0.3rem;
		padding-block: 0.1rem;
		font-family: var(--font-mono);
		font-size: 0.8rem;
	}

	.markdown code:not(pre code) {
		@apply bg-muted relative rounded-md px-[0.3rem] py-[0.2rem] font-mono text-[0.8rem] outline-none;
	}

	.markdown a {
		@apply text-link font-medium underline underline-offset-4;
	}

	.markdown h1 {
		@apply scroll-mt-32 text-3xl font-bold;
	}

	.markdown h2 {
		@apply mt-4 mb-2 scroll-mt-32 text-2xl font-bold;
	}

	.markdown h3 {
		@apply mt-4 mb-2 scroll-mt-32 text-xl font-semibold;
	}

	.markdown ol {
		list-style-type: decimal;
		padding-inline-start: 1.5rem;
	}

	.markdown ul {
		list-style-type: disc;
		padding-inline-start: 1.5rem;
	}

	.markdown-alert {
		& {
			@apply my-6 space-y-2 rounded-lg border border-blue-600/20 bg-blue-400/20 p-4 pb-5 dark:border-blue-800/20 dark:bg-blue-600/10;
		}

		& > .markdown-alert-title {
			& {
				@apply flex flex-row items-start gap-2 p-0 font-bold text-blue-500;
			}

			&:not(:only-child) {
				@apply mb-2;
			}

			&:empty::after {
				content: 'Note';
			}

			&::before {
				@apply mt-1 block h-5 w-5 bg-current content-[""];
				mask-repeat: no-repeat;
				mask-size: cover;

				/* lucide-pencil */
				mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTE3IDNhMi44NSAyLjgzIDAgMSAxIDQgNEw3LjUgMjAuNUwyIDIybDEuNS01LjVabS0yIDJsNCA0Ii8+PC9zdmc+');
			}
		}

		& > [data-callout-body] {
			& {
				@apply space-y-2;
			}

			& > * {
				@apply m-0;
			}
		}
	}

	details.markdown-alert > summary.markdown-alert-title {
		& {
			@apply cursor-pointer;
		}

		&::after {
			@apply w-full bg-right bg-no-repeat;
			content: '';

			/* lucide:chevron-right */
			background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzg4ODg4OCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Im05IDE4bDYtNmwtNi02Ii8+PC9zdmc+');
			background-size: 1.5rem;
		}

		&:not(:empty)::after {
			@apply my-auto ml-auto h-6 w-6;
		}
	}

	details.markdown-alert [open] > summary.markdown-alert-title::after {
		/* lucide:chevron-down */
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzg4ODg4OCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Im02IDlsNiA2bDYtNiIvPjwvc3ZnPg==');
	}

	.markdown-alert .markdown-alert-info {
		& {
			@apply border-blue-600/20 bg-blue-400/20 dark:border-blue-800/20 dark:bg-blue-600/10;
		}

		& > .markdown-alert-title {
			& {
				@apply text-blue-500;
			}

			&:empty::after {
				content: 'Info';
			}

			&::before {
				content: 'hi';
				/* lucide:info */
				mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzg4ODg4OCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjEwIi8+PHBhdGggZD0iTTEyIDE2di00bTAtNGguMDEiLz48L2c+PC9zdmc+');
			}
		}
	}

	.markdown-alert .markdown-alert-todo {
		& {
			@apply border-blue-600/20 bg-blue-400/20 dark:border-blue-800/20 dark:bg-blue-600/10;
		}

		& > .markdown-alert-title {
			& {
				@apply text-blue-500;
			}

			&:empty::after {
				content: 'ToDo';
			}

			&::before {
				/* lucide:circle-check-big */
				mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzg4ODg4OCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiPjxwYXRoIGQ9Ik0yMiAxMS4wOFYxMmExMCAxMCAwIDEgMS01LjkzLTkuMTQiLz48cGF0aCBkPSJtOSAxMWwzIDNMMjIgNCIvPjwvZz48L3N2Zz4=');
			}
		}
	}

	.markdown-alert .markdown-alert-abstract,
	.markdown-alert .markdown-alert-summary,
	.markdown-alert .markdown-alert-tldr {
		& {
			@apply border-cyan-600/20 bg-cyan-400/20 dark:border-cyan-800/20 dark:bg-cyan-600/10;
		}

		& > .markdown-alert-title {
			& {
				@apply text-cyan-500;
			}

			&::before {
				/* lucide:clipboard-list */
				mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiI+PHJlY3Qgd2lkdGg9IjgiIGhlaWdodD0iNCIgeD0iOCIgeT0iMiIgcng9IjEiIHJ5PSIxIi8+PHBhdGggZD0iTTE2IDRoMmEyIDIgMCAwIDEgMiAydjE0YTIgMiAwIDAgMS0yIDJINmEyIDIgMCAwIDEtMi0yVjZhMiAyIDAgMCAxIDItMmgybTQgN2g0bS00IDVoNG0tOC01aC4wMU04IDE2aC4wMSIvPjwvZz48L3N2Zz4=');
			}
		}
	}

	.markdown-alert .markdown-alert-abstract > .markdown-alert-title:empty::after {
		content: 'Abstract';
	}

	.markdown-alert .markdown-alert-summary > .markdown-alert-title:empty::after {
		content: 'Summary';
	}

	.markdown-alert .markdown-alert-tldr > .markdown-alert-title:empty::after {
		content: 'TL;DR';
	}

	.markdown-alert .markdown-alert-tip,
	.markdown-alert .markdown-alert-hint,
	.markdown-alert .markdown-alert-important {
		& {
			@apply border-cyan-600/20 bg-cyan-400/20 dark:border-cyan-800/20 dark:bg-cyan-600/10;
		}

		& > .markdown-alert-title {
			& {
				@apply text-cyan-500;
			}

			&::before {
				/* lucide:flame */
				mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTguNSAxNC41QTIuNSAyLjUgMCAwIDAgMTEgMTJjMC0xLjM4LS41LTItMS0zYy0xLjA3Mi0yLjE0My0uMjI0LTQuMDU0IDItNmMuNSAyLjUgMiA0LjkgNCA2LjVjMiAxLjYgMyAzLjUgMyA1LjVhNyA3IDAgMSAxLTE0IDBjMC0xLjE1My40MzMtMi4yOTQgMS0zYTIuNSAyLjUgMCAwIDAgMi41IDIuNSIvPjwvc3ZnPg==');
			}
		}
	}

	.markdown-alert .markdown-alert-tip > .markdown-alert-title:empty::after {
		content: 'Tip';
	}

	.markdown-alert .markdown-alert-hint > .markdown-alert-title:empty::after {
		content: 'Hint';
	}

	.markdown-alert .markdown-alert-important > .markdown-alert-title:empty::after {
		content: 'Important';
	}

	.markdown-alert .markdown-alert-success,
	.markdown-alert .markdown-alert-check,
	.markdown-alert .markdown-alert-done {
		& {
			@apply border-green-600/20 bg-green-400/20 dark:border-green-800/20 dark:bg-green-600/10;
		}

		& > .markdown-alert-title {
			& {
				@apply text-green-500;
			}

			&::before {
				/* lucide:check */
				mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTIwIDZMOSAxN2wtNS01Ii8+PC9zdmc+');
			}
		}
	}

	.markdown-alert .markdown-alert-success > .markdown-alert-title:empty::after {
		content: 'Success';
	}

	.markdown-alert .markdown-alert-check > .markdown-alert-title:empty::after {
		content: 'Check';
	}

	.markdown-alert .markdown-alert-done > .markdown-alert-title:empty::after {
		content: 'Done';
	}

	.markdown-alert .markdown-alert-question,
	.markdown-alert .markdown-alert-help,
	.markdown-alert .markdown-alert-faq {
		& {
			@apply border-orange-600/20 bg-orange-400/20 dark:border-orange-800/20 dark:bg-orange-600/10;
		}

		& > .markdown-alert-title {
			& {
				@apply text-orange-500;
			}

			&::before {
				/* lucide:circle-help */
				mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTAiLz48cGF0aCBkPSJNOS4wOSA5YTMgMyAwIDAgMSA1LjgzIDFjMCAyLTMgMy0zIDNtLjA4IDRoLjAxIi8+PC9nPjwvc3ZnPg==');
			}
		}
	}

	.markdown-alert .markdown-alert-question > .markdown-alert-title:empty::after {
		content: 'Question';
	}

	.markdown-alert .markdown-alert-help > .markdown-alert-title:empty::after {
		content: 'Help';
	}

	.markdown-alert .markdown-alert-faq > .markdown-alert-title:empty::after {
		content: 'FAQ';
	}

	.markdown-alert .markdown-alert-warning,
	.markdown-alert .markdown-alert-caution,
	.markdown-alert .markdown-alert-attention {
		& {
			@apply border-orange-600/20 bg-orange-400/20 dark:border-orange-800/20 dark:bg-orange-600/10;
		}

		& > .markdown-alert-title {
			& {
				@apply text-orange-500;
			}

			&::before {
				/* lucide:triangle-alert */
				mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0ibTIxLjczIDE4bC04LTE0YTIgMiAwIDAgMC0zLjQ4IDBsLTggMTRBMiAyIDAgMCAwIDQgMjFoMTZhMiAyIDAgMCAwIDEuNzMtM00xMiA5djRtMCA0aC4wMSIvPjwvc3ZnPg==');
			}
		}
	}

	.markdown-alert .markdown-alert-warning > .markdown-alert-title:empty::after {
		content: 'Warning';
	}

	.markdown-alert .markdown-alert-caution > .markdown-alert-title:empty::after {
		content: 'Caution';
	}

	.markdown-alert .markdown-alert-attention > .markdown-alert-title:empty::after {
		content: 'Attention';
	}

	.markdown-alert .markdown-alert-failure,
	.markdown-alert .markdown-alert-fail,
	.markdown-alert .markdown-alert-missing {
		& {
			@apply border-red-600/20 bg-red-400/20 dark:border-red-800/20 dark:bg-red-600/10;
		}

		& > .markdown-alert-title {
			& {
				@apply text-red-500;
			}

			&::before {
				/* lucide:check */
				mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTIwIDZMOSAxN2wtNS01Ii8+PC9zdmc+');
			}
		}
	}

	.markdown-alert .markdown-alert-failure > .markdown-alert-title:empty::after {
		content: 'Failure';
	}

	.markdown-alert .markdown-alert-fail > .markdown-alert-title:empty::after {
		content: 'Fail';
	}

	.markdown-alert .markdown-alert-missing > .markdown-alert-title:empty::after {
		content: 'Missing';
	}

	.markdown-alert .markdown-alert-danger,
	.markdown-alert .markdown-alert-error {
		& {
			@apply border-red-600/20 bg-red-400/20 dark:border-red-800/20 dark:bg-red-600/10;
		}

		& > .markdown-alert-title {
			& {
				@apply text-red-500;
			}

			&::before {
				/* lucide:zap */
				mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXphcCI+PHBhdGggZD0iTTQgMTRhMSAxIDAgMCAxLS43OC0xLjYzbDkuOS0xMC4yYS41LjUgMCAwIDEgLjg2LjQ2bC0xLjkyIDYuMDJBMSAxIDAgMCAwIDEzIDEwaDdhMSAxIDAgMCAxIC43OCAxLjYzbC05LjkgMTAuMmEuNS41IDAgMCAxLS44Ni0uNDZsMS45Mi02LjAyQTEgMSAwIDAgMCAxMSAxNHoiLz48L3N2Zz4=');
			}
		}
	}

	.markdown-alert .markdown-alert-danger > .markdown-alert-title:empty::after {
		content: 'Danger';
	}

	.markdown-alert .markdown-alert-error > .markdown-alert-title:empty::after {
		content: 'Error';
	}

	.markdown-alert .markdown-alert-bug {
		& {
			@apply border-red-600/20 bg-red-400/20 dark:border-red-800/20 dark:bg-red-600/10;
		}

		& > .markdown-alert-title {
			& {
				@apply text-red-500;
			}

			&::before {
				/* lucide:bug */
				mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiI+PHBhdGggZD0ibTggMmwxLjg4IDEuODhtNC4yNCAwTDE2IDJNOSA3LjEzdi0xYTMuMDAzIDMuMDAzIDAgMSAxIDYgMHYxIi8+PHBhdGggZD0iTTEyIDIwYy0zLjMgMC02LTIuNy02LTZ2LTNhNCA0IDAgMCAxIDQtNGg0YTQgNCAwIDAgMSA0IDR2M2MwIDMuMy0yLjcgNi02IDZtMCAwdi05Ii8+PHBhdGggZD0iTTYuNTMgOUM0LjYgOC44IDMgNy4xIDMgNW0zIDhIMm0xIDhjMC0yLjEgMS43LTMuOSAzLjgtNE0yMC45NyA1YzAgMi4xLTEuNiAzLjgtMy41IDRNMjIgMTNoLTRtLS44IDRjMi4xLjEgMy44IDEuOSAzLjggNCIvPjwvZz48L3N2Zz4=');
			}
		}
	}

	.markdown-alert .markdown-alert-bug > .markdown-alert-title:empty::after {
		content: 'Bug';
	}

	.markdown-alert .markdown-alert-example {
		& {
			@apply border-purple-600/20 bg-purple-400/20 dark:border-purple-800/20 dark:bg-purple-600/10;
		}

		& > .markdown-alert-title {
			& {
				@apply text-purple-500;
			}

			&::before {
				/* lucide:list */
				mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTggNmgxM004IDEyaDEzTTggMThoMTNNMyA2aC4wMU0zIDEyaC4wMU0zIDE4aC4wMSIvPjwvc3ZnPg==');
			}
		}
	}

	.markdown-alert .markdown-alert-example > .markdown-alert-title:empty::after {
		content: 'Example';
	}

	.markdown-alert .markdown-alert-quote,
	.markdown-alert .markdown-alert-cite {
		& {
			@apply border-zinc-600/20 bg-zinc-400/20 dark:border-zinc-800/20 dark:bg-zinc-600/15;
		}

		& > .markdown-alert-title {
			& {
				@apply text-zinc-500;
			}

			&::before {
				/* lucide:quote */
				mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTMgMjFjMyAwIDctMSA3LThWNWMwLTEuMjUtLjc1Ni0yLjAxNy0yLTJINGMtMS4yNSAwLTIgLjc1LTIgMS45NzJWMTFjMCAxLjI1Ljc1IDIgMiAyYzEgMCAxIDAgMSAxdjFjMCAxLTEgMi0yIDJzLTEgLjAwOC0xIDEuMDMxVjIwYzAgMSAwIDEgMSAxbTEyIDBjMyAwIDctMSA3LThWNWMwLTEuMjUtLjc1Ny0yLjAxNy0yLTJoLTRjLTEuMjUgMC0yIC43NS0yIDEuOTcyVjExYzAgMS4yNS43NSAyIDIgMmguNzVjMCAyLjI1LjI1IDQtMi43NSA0djNjMCAxIDAgMSAxIDEiLz48L3N2Zz4=');
			}
		}
	}

	.markdown-alert .markdown-alert-quote > .markdown-alert-title:empty::after {
		content: 'Quote';
	}

	.markdown-alert .markdown-alert-cite > .markdown-alert-title:empty::after {
		content: 'Cite';
	}

	.octicon {
		display: none;
	}

	.markdown-alert > p {
		@apply not-first:mt-2!;
	}

	#floating-video {
		right: auto;
		left: 0.5rem;
		bottom: 0.5rem !important;
	}

	#floating-video.mobile {
		right: 0.5rem;
		left: auto;
		bottom: 0.5rem !important;
	}
}
