name: Publish Farming Weight Package to npmjs

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    if: github.event_name == 'workflow_dispatch' || contains(github.event.release.tag_name, 'farming-weight')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10.15.0
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'

      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: pnpm install

      - name: build
        run: pnpm -C packages/farming-weight build

      - name: Publish
        working-directory: packages/farming-weight
        run: npm publish