name: Test Farming Weight

on:
  push:
    paths:
      - 'packages/farming-weight/**'
  pull_request:
    paths:
      - 'packages/farming-weight/**'

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Change to farming-weight directory
        run: cd packages/farming-weight

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run tests
        run: pnpm test
  lint:
    name: Linting
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Change to farming-weight directory
        run: cd packages/farming-weight

      - name: Setup
        uses: ./.github/actions/setup

      - name: Lint
        run: pnpm run lint
  build:
    name: Build
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Change to farming-weight directory
        run: cd packages/farming-weight

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build
        run: pnpm run build